- info = @credit_card_info
= text_field :id => 'firstname', :name => 'firstname', :label => 'First Name', :value => info.first_name, :class => 'required'
= text_field :id => 'lastname', :name => 'lastname', :label => 'Last Name', :value => info.last_name, :class => 'required'
= text_field :id => 'email', :name => 'email', :value => info.email, :label => 'Email Address', :class => 'required'
= text_field :id => 'address1', :name => 'address1', :value => info.address_1, :label => 'Address', :class => 'required'
= text_field :id => 'city', :name => 'city', :value => info.city, :label => 'City', :class => 'required'
= text_field :id => 'state', :name => 'state', :value => info.state, :size => 2, :label => 'State', :class => 'required'
= text_field :id => 'zip', :name => 'zip', :value => info.postal_code, :label => 'Postal Code', :class => 'required'
= text_field :id => 'country', :name => 'country', :value => info.country, :label => 'Country', :class => 'required'

= partial "gateway_request"

- if @credit_card.new_record?
  = text_field :id => 'ccnumber', :name => 'ccnumber', :value => '', :label => 'Credit Card Number', :class => 'required'
  = text_field :id => 'cvv', :name => 'cvv', :value => '', :label => 'CVV', :class => 'required'
= text_field :id => 'ccexp', :name => 'ccexp', :value => info.cc_exp, :label => 'Expiration Date(MMYY)', :class => 'required'
= hidden_field :id => 'orderid', :name => 'orderid', :value => ''

- if @credit_card.new_record?
  = hidden_field :id => 'customer_vault', :name => 'customer_vault', :value => 'add_customer'
  = hidden_field :id => 'redirect', :name => 'redirect', :value => absolute_url(:new_response_credit_cards)
  = hidden_field :id => 'type', :name => 'type', :value => 'sale'
  = hidden_field :id => 'amount', :name => 'amount', :value => '10.00'
- else
  = hidden_field :id => 'customer_vault', :name => 'customer_vault', :value => 'update_customer'
  = hidden_field :id => 'customer_vault_id', :name => 'customer_vault_id', :value => @credit_card.token
  = hidden_field :id => 'redirect', :name => 'redirect', :value => absolute_url(:edit_response_credit_card, @credit_card)
