%h3 This Card
%table
  %thead
    %tr
      %th Name
      %th Address
      %th Number
      %th Edit
  %tbody
    %tr
      %td= @credit_card.info.name
      %td= @credit_card.info.address
      %td= @credit_card.info.cc_number
      %td= link_to('Edit', url(:edit_credit_card, @credit_card))
%h3 Invoices
- unless @credit_card.invoices.empty?
  %table
    %thead
      %tr
        %th Name
    %tbody
      - @credit_card.invoices.each do |invoice|
        %tr
          %td= invoice.inspect
- else
  %p No invoices on file for this billing information.
