= form :action => BRAINTREE[:transact_api_url], :id => 'new_payment_form' do
  %fieldset
    %legend You're about to be charged

    %p
      %span= @gateway_request.amount

    = hidden_field :id => 'customer_vault_id', :name => 'customer_vault_id', :value => @credit_card.token
    = hidden_field :id => 'type', :name => 'type', :value => 'sale'

    = hidden_field :id => 'key_id', :name => 'key_id', :value => @gateway_request.key_id
    = hidden_field :id => 'order_id', :name => 'order_id', :value => @gateway_request.orderid
    = hidden_field :id => 'amount', :name => 'amount', :value => @gateway_request.amount
    = hidden_field :id => 'time', :name => 'time', :value => @gateway_request.time
    = hidden_field :id => 'hash', :name => 'hash', :value => @gateway_request.hash
    = hidden_field :id => 'redirect', :name => 'redirect', :value => absolute_url(:new_response_credit_card_payments, @credit_card)
    %input{:type => 'submit', :name => 'submit', :value => 'Submit'}

